@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c);
body {
  font-family: "M PLUS Rounded 1c";
}
.remark-code, .remark-inline-code {
  font-family: "M PLUS Rounded 1c";
}
.title-slide h1  {
  font-family: "M PLUS Rounded 1c";
}
.remark-slide-content h1 {
  font-family: "M PLUS Rounded 1c";
}
.remark-slide-number {
  opacity: 0;
}
